<section>
  <h1>Apps</h1>
  <ul id="recent_posts">
      <li class="post">
      <a href="https://itunes.apple.com/app/coucou/id620436774">coucou</a>
      <p>Your whole network at your finger tips.</p>
      </li>
      <li class="post">
      <a href="http://getporthole.com">Porthole</a>
      <p>Porthole streams music from your favorite music player to all your AirPlay speakers, in sync.</p>
      </li>
      <li class="post">
      <a href="http://airvlc.com">AirVLC</a>
      <p>The launcher for VLC Media Player that compensates the AirPlay audio delay.</p>
      </li>
      <li class="post">
      <a href="http://reignalot.com">Reign for Spotify</a>
      <p>The Spotify remote for friends, colleagues, housemates and yourself that works in any browser.</p>
      </li>
  </ul>
  <p><a href="http://dangercove.com">More apps at Danger Cove &raquo;</a></p>
</section>
